json do projeto/delivery.json
{
    "Comment": "An example of using Bedrock to chain prompts and their responses together.",
    "StartAt": "Planejamento do jantar",
    "States": {
      "Planejamento do jantar": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
          "Body": {
            "anthropic_version": "bedrock-2023-05-31",
            "max_tokens": 500,
            "messages": [
              {
                "role": "user",
                "content": [
                  {
                    "type": "text",
                    "text": "Estou planejando um jantar para amigos íntimos. Quais pratos principais simples, mas saborosos, eu poderia servir?"
                  }
                ]
              }
            ]
          },
          "ContentType": "application/json",
          "Accept": "*/*"
        },
        "Next": "Add first result to conversation history",
        "ResultPath": "$.result_one",
        "ResultSelector": {
          "result_one.$": "$.Body.content[0].text"
        }
      },
      "Add first result to conversation history": {
        "Type": "Pass",
        "Next": "Acompanhamentos do jantar",
        "Parameters": {
          "convo_one.$": "States.Format('{}\n{}', $.prompt_one, $.result_one.result_one)"
        },
        "ResultPath": "$.convo_one"
      },
      "Acompanhamentos do jantar": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
          "Body": {
            "anthropic_version": "bedrock-2023-05-31",
            "max_tokens": 500,
            "messages": [
              {
                "role": "user",
                "content": [
                  {
                    "type": "text",
                    "text": "Que acompanhamentos leves combinariam bem com esses pratos principais para manter a refeição balanceada?"
                  }
                ]
              }
            ]
          },
          "ContentType": "application/json",
          "Accept": "*/*"
        },
        "Next": "Add second result to conversation history",
        "ResultSelector": {
          "result_two.$": "$.Body.content[0].text"
        },
        "ResultPath": "$.result_two"
      },
      "Add second result to conversation history": {
        "Type": "Pass",
        "Next": "Bebidas para o jantar",
        "Parameters": {
          "convo_two.$": "States.Format('{}\n{}\n{}', $.convo_one.convo_one, $.prompt_two, $.result_two.result_two)"
        },
        "ResultPath": "$.convo_two"
      },
      "Bebidas para o jantar": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
          "Body": {
            "anthropic_version": "bedrock-2023-05-31",
            "max_tokens": 500,
            "messages": [
              {
                "role": "user",
                "content": [
                  {
                    "type": "text",
                    "text": "Sugira algumas bebidas, alcoólicas e não alcoólicas, que harmonizariam bem com essa refeição."
                  }
                ]
              }
            ]
          },
          "ContentType": "application/json",
          "Accept": "*/*"
        },
        "End": true,
        "ResultSelector": {
          "result_three.$": "$.Body.content[0].text"
        }
      }
    }
  }